<%- include("../partials/header") %>

<body id="library">
    <div class="container mx-auto mt-4">
        <div class="row">
            <% data.forEach( x=> { %>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="img-height">
                    <img src="<%= x.img %>" class="card-img-top" alt="..." referrerpolicy="no-referrer">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= x.title%></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= x.status%></h6>
                        <form action="/mangas/<%= x._id %>?_method=DELETE" method="POST">
                            <span><button type="submit" class="btn mr-2"><i class="fas fa-link"></i>Remove</button></span>
                        </form> 
                        <span><a href="/mangas/<%= x._id%>" class="btn "><i class="fab fa-github"></i>Visit Manga</a></span>
                    </div>
                </div>
            </div>

            <% })%>
        </div>
    </div>
        

</body>
<%- include("../partials/footer") %>