<%- include("../partials/header") %>

<h3><%= datas.title  %></h3>
<img src="<%= datas.img %>" alt="" class="show-img" referrerpolicy="no-referrer">
<h2><%=datas.tag%></h2>
<h4><%= datas.description %></h4>


<%- include("../partials/footer") %>


